
.background-toast{
  background: lightpink !important;
  border-radius: 20px !important;
  font-size: 20px;
}
.body-toast{
  color: white;
}
.progress-toast{
  background: linear-gradient(to right, rgb(155, 205, 238) , rgb(174, 151, 240)) !important;

}
.background-toast2{
  background: lightskyblue !important;
  font-size: 20px;

}
.body-toast2{
  color: white;
}
.progress-toast2{
  background: linear-gradient(to right, darkorange,white) !important;

}
